@media (max-width: 767px) {
    .element {
      border-bottom: 1px solid black;
    }
      .some-padding{
        padding-top: 15px;
        padding-bottom: 10px;
    }/* Apply black border to all sides */
    
  }
  
  /* For large screens */
  @media (min-width: 768px) {
    .element {
      border-bottom: none; /* Remove border from all sides */
      border-right: 1px dotted black; /* Apply black border to the left side */
    }
    .some-padding{
        padding-top: 15px;
        padding-bottom: 10px;
    }
  }