.main-intro{
    width:100vw;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0.5cm;

}
.main-intro-writeup{
  
    padding-left: 1.5cm;
    padding-right: 1.5cm;
    text-align: center;
}
.space-down{
    padding-bottom: calc(var(--shallow-vertical-space)/4);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    justify-content: center;
}
h4{
    margin: 0;
}
.intro-wrapper{
    background-color:#D1FFBD;
    padding-bottom:0.7cm;
}