.background-secondary {
    background-color: var(--secondary-color);
}
.card .background-secondary{
        background-color: var(--secondary-color);
    
}
.button-styles {
    align-items: center;
    background-color: var(--secondary-color);
    border: 0.05cm solid white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    height: 1.5cm;
    justify-content: space-evenly;
    width: 100%;
}

.primary-background {
    background:var(--primary-color) ;
    width:100%;
}
.dashboard-wrapper .dashboard-item{
    margin: 0;
}

.div-margin-bottom {
    margin-bottom: 5px;
}
.rounded-image-size{
    width: 2cm;
    height: 2cm;  
}
.primary-background  .card-background{
 background-color:var(--opacity);   

}
.date-input{
    width: 30vw;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0.5px solid white;
   
}

.form {
    /* background:linear-gradient(to bottom right,#1a6e41, #79b294); */
    border-bottom-left-radius: 1cm;
    border-top-right-radius: 1cm;
    border-bottom-right-radius: 1cm;
    border-top-left-radius: 1cm;
    padding: 0.5cm 0.5cm;
    width: 50vw;
    background:#79b294 ;
}

.form .custom-input {
    border: 0;
    border-bottom: 2px solid white;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form .custom-input:focus {
    box-shadow: none;
}

.header {
    background-color: var(--primary-color);
    padding-top: 3.5cm; 
}

.header-image-border {
    border: 3px solid var(--secondary-color);
    border-bottom-left-radius: 0.6cm;
    border-bottom-right-radius: 0.6cm;
    border-top-left-radius: 0.6cm;
    border-top-right-radius: 0.6cm;
    width: 100%;
}
.toast-style {
    position: absolute;
    top: 1.4cm;
    left: 1rem;
    background-color: white;
  }


.heavy-font {
    font-weight: 1000;
    font-size:xx-large;
    @media (min-width: 15cm){
        font-size: 5.5vw;
    }
}
.button-width-narrow{
    width: 6cm;
}
.button-width-narrower{
    width: 4cm;
}
.row .button-width-narrow{
    width: 6cm;
}
.row .button-width-wide{
    width: 8cm;
}
.mid-font {
    
    @media (min-width: 15cm){
        font-size:x-large;
        padding-top: 1em;
    }
}
.intro-wrapper {
    background-color: #D1FFBD;
    padding-bottom: 0.7cm;
}

.main-intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 0.5cm;
    width: 100vw;
}

.main-intro-writeup {
    padding-left: 1.5cm;
    padding-right: 1.5cm;
    text-align: center;
}

.primary-color {
    color: var(--primary-color);
}

.primary-line {
    background-color: var(--primary-color);
    border-bottom-left-radius: 0.1cm;
    border-bottom-right-radius: 0.1cm;
    border-top-left-radius: 0.1cm;
    border-top-right-radius: 0.1cm;
    height: 0.2cm;
    width: 20vw;
}

.secondary-color {
    color: var(--secondary-color);
}

.shallow-top-padding {
    padding-top: 0.5cm;
}



.toastContainer {
    position: relative;
}

.logo-container {
    align-items: center;
    display: flex;
}
.icon-size{
    width: 0.7cm;
    height: 0.7cm;
}

.logo {
    margin-right: 5vw;
}
.carousel .testimonial{
    height: 8.5cm;
    @media(min-width: 15cm){
        height: 6cm;
    }
}
.dash-nav {
    /* background: linear-gradient(to bottom right, #1a6e41, #79b294); */
    background-color: rgba(254, 250, 250, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 3.5cm;
    padding:0.1cm;
    padding-top: 0.5cm;
    @media (min-width:15cm){
        height:4.5cm;
    }
  }
  .dash-nav:hover {
    background: rgba(254, 250, 250, 0.3); /* corrected color value */
}
.carousel-wrapper{
    width:100vw;

}
.carousel{
    width:100%
}
.carousel .card{
    width:100%
}

  .nav-icon {
    color: white;
    width: 0.5cm;
    height: 0.5cm;
    @media (min-width:15cm){
        height:1cm;
        width: 1cm;
    }
  }
  .card{
    width:6.5cm;
  }
 .card .card-label-width{
    width: 2.3cm;
  }
  .card .card-label-width-wide{
    width: 5cm;
  }
  .dash-text {
    color: white;
    margin:0;
    text-wrap: wrap;
    text-align: center;
    font-size: 0.7em;
  }


@media (max-width: 767px) {
    .element {
        border-bottom: 1px solid black;
    }

    .some-padding {
        padding-bottom: 10px;
        padding-top: 15px;
    }
    
    .form {
        background: var(--primary-color);
        border-bottom-left-radius: 1cm;
        border-top-right-radius: 1cm;
        padding-left: 0.8cm;
        padding-right: 0.8cm;
        width: 85vw;
        color: white;
    }
}

@media (min-width: 768px) {
    .element {
        border-bottom: none;
        border-right: 1px dotted black;
    }

    .some-padding {
        padding-bottom: 10px;
        padding-top: 15px;
    }

    .the-bottom {
        border-bottom: 4px solid var(--primary-color);
    }
}

@media screen and (min-width: 10cm) {
    .header-image-border {
        border-bottom-left-radius: 1cm;
        border-bottom-right-radius: 1cm;
        border-top-left-radius: 1cm;
        border-top-right-radius: 1cm;
    }

    .header-main-text {
        font-size: 5vw;
    }

    .header-sub-text {
        font-size: larger;
    }
}


.g-outer-paddings-side{
   padding-left:0.7cm;
   padding-right: 0.7cm;
}
.g-outer-margins-side{
    padding-left:0.7cm;
    padding-right: 0.7cm;
 }

@media screen and (min-width:10cm){
    .g-outer-paddings-side{
        padding-left:1.5cm;
        padding-right:1.5cm;
     }
     .g-outer-margins-side{
        padding-left:1.5cm;
        padding-right:1.5cm;
     }
}
.g-shallow-margins-vertical{
    margin-top: 0.7cm;
    margin-bottom: 0.7cm;
}
.g-shallow-margin-bottom{
    margin-bottom: 0.7cm;
}
.g-shallow-padding-bottom{
    padding-bottom: 0.7cm;
}
.disappear{
    display:none
}