
.header{
  background-color: var(--primary-color);
  padding-bottom: var(--deep-vertical-space);
  padding-top: 3.5cm;
}

.header-main-text{
  font-size: xx-large;
  font-weight: 1000;
}
.header-image-border{
  width:100%;
  border: 3px solid var(--secondary-color);
  border-top-left-radius: 0.6cm;
  border-top-right-radius:  0.6cm;
  border-bottom-left-radius: 0.6cm;
  border-bottom-right-radius:  0.6cm;
}


@media screen and (min-width:10cm){
  .header-main-text{
  font-size: 5vw;
  }
  .header-sub-text{
    font-size: larger;
  }
  .header-image-border{
    border-top-left-radius: 1cm;
    border-top-right-radius: 1cm;
    border-bottom-left-radius: 1cm;
    border-bottom-right-radius: 1cm;
  }
}
