.outer-padding-left{
    padding-left: 5vw;
}
.outer-padding-right{
    padding-right: 5vw
}
.shallow-padding-top{
   padding-top: var(--shallow-vertical-space);
}
.deep-paddding-top{
    padding-top: calc(2* var(--deep-vertical-space))  
    
}
.primary-bg{
    background: var(--primary-color);
}
.shallow0margin-bottom{
    margin-bottom: var(--shallow-vertical-space);
}
