.g-outer-paddings-side{
   padding-left:0.7cm;
   padding-right: 0.7cm;
}
.g-outer-margins-side{
    padding-left:0.7cm;
    padding-right: 0.7cm;
 }

@media screen and (min-width:10cm){
    .g-outer-paddings-side{
        padding-left:1.5cm;
        padding-right:1.5cm;
     }
     .g-outer-margins-side{
        padding-left:1.5cm;
        padding-right:1.5cm;
     }
}
.g-shallow-margins-vertical{
    margin-top: 0.7cm;
    margin-bottom: 0.7cm;
}
.g-shallow-margin-bottom{
    margin-bottom: 0.7cm;
}
.g-shallow-padding-bottom{
    padding-bottom: 0.7cm;
}