.custom-input {
    border: 2px solid black;
    outline: none;
    background: transparent;
  }
 .form{
     background: var(--primary-color);
     width:50vw;
     border-top-right-radius: 1cm;
     border-bottom-left-radius: 1cm;
     padding-left: 0.8cm;
      padding-right: 0.8cm;
      padding-top:1cm;
      padding-bottom:1cm
 }
 @media (max-width: 767.98px) {
    .form {
      background: var(--secondary-color);
      width: 85vw;
      border-top-right-radius: 1cm;
      border-bottom-left-radius: 1cm;
      padding-left: 0.8cm;
      padding-right: 0.8cm;
    }
  }